.container-1 {
  display: flex;
  height: 100vh;
}

.box-1-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  box-sizing: border-box;
}
.box-1-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 700;
}

.box-1-text p {
  font-family: "Poppins", sans-serif;;
  font-size: 36px;
  font-weight: 275;
}

.box-1-image{
  flex: 1;
  background: url(headphones.png) no-repeat center center;
  background-size: cover;

}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background-color: #d5f5dc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn {
  background-color: #b7eac3;
  transform: translateY(-2px);
}
